### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [112]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data_csv = "HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data_csv)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [113]:
player_count = len(purchase_data_df["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
items = len(purchase_data_df["Item ID"].unique())
items

183

In [115]:
ave_price = purchase_data_df["Price"].mean()
ave_price

3.050987179487176

In [116]:
num_of_purchases = purchase_data_df["Purchase ID"].count()
num_of_purchases

780

In [117]:
total_rev = purchase_data_df["Price"].sum()
total_rev

2379.77

In [118]:
summary_table = pd.DataFrame({"Number Of Unique Items": [items],
                                "Average Purchase Price":[ave_price],
                                "Total Number of Purchases":[num_of_purchases],
                                "Total Revenue":[total_rev]})
summary_table['Average Purchase Price'] = summary_table['Average Purchase Price'].map('${:,.2f}'.format)
summary_table['Total Revenue'] = summary_table['Total Revenue'].map('${:,.2f}'.format)
summary_table

,Number Of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [143]:
player_demographics_df = purchase_data_df.loc[:, ["SN", "Gender", "Age"]]
player_demographics_df = player_demographics_df.drop_duplicates()
gender_count_df = player_demographics_df
gender_count_df = gender_count_df.groupby("Gender").count()
gender_percent = gender_count_df / player_count *100
gender_demographics = pd.DataFrame({"Total Count": gender_count_df["Age"], "Percentage of Players": gender_percent["Age"]})
gender_demographics

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
female_purchases_df = purchase_data_df.loc[purchase_data_df ["Gender"] == "Female", :]

In [121]:
female_purch_count = female_purchases_df ["Purchase ID"].count()
female_ave_price = female_purchases_df["Price"].mean()
female_total_rev = female_purchases_df["Price"].sum()
female_pp = female_purchases_df.groupby("SN", as_index=False).Price.sum()
female_ave_pp = female_pp["Price"].mean()

In [122]:
male_purchases_df = purchase_data_df.loc[purchase_data_df ["Gender"] == "Male", :]

In [123]:
male_purch_count = male_purchases_df ["Purchase ID"].count()
male_ave_price = male_purchases_df["Price"].mean()
male_total_rev = male_purchases_df["Price"].sum()
male_pp = male_purchases_df.groupby("SN", as_index=False).Price.sum()
male_ave_pp = male_pp["Price"].mean()

In [124]:
other_purchases_df = purchase_data_df.loc[purchase_data_df ["Gender"] == "Other / Non-Disclosed", :]

In [125]:
other_purch_count = other_purchases_df ["Purchase ID"].count()
other_ave_price = other_purchases_df["Price"].mean()
other_total_rev = other_purchases_df["Price"].sum()
other_pp = other_purchases_df.groupby("SN", as_index=False).Price.sum()
other_ave_pp = other_pp["Price"].mean()

In [126]:
gender_summary_table = pd.DataFrame({"Purchase Count": [female_purch_count, male_purch_count, other_purch_count],
                                    "Average Purchase Price": [female_ave_price, male_ave_price, other_ave_price],
                                    "Total Purchase Value": [female_total_rev, male_total_rev, other_total_rev],
                                    "Ave Total Purchase per Person": [female_ave_pp, male_ave_pp, other_ave_pp]})

gender_summary_table['Average Purchase Price'] = gender_summary_table['Average Purchase Price'].map('${:,.2f}'.format)
gender_summary_table['Total Purchase Value'] = gender_summary_table['Total Purchase Value'].map('${:,.2f}'.format)
gender_summary_table['Average Purchase Price'] = gender_summary_table['Average Purchase Price'].map('${:,.2f}'.format)
gender_summary_table.index = ['Female', 'Male', 'Other']
gender_summary_table.index.name = "Gender"
gender_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [127]:
print(player_demographics_df["Age"].min())
print(player_demographics_df["Age"].max())

7
45

In [149]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
group_labels = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]
filtered_player_demographics_df = player_demographics_df.drop_duplicates()

filtered_player_demographics_df["Age Group"] = pd.cut(player_demographics_df["Age"], bins, labels=group_labels)
filtered_player_demographics_df = filtered_player_demographics_df.groupby("Age Group")

filtered_player_demographics_df = pd.DataFrame({"Total Count": filtered_player_demographics_df["Age Group"].count(),
                                       "Percentage of Players": (filtered_player_demographics_df["Age Group"].count()/player_count)*100})
filtered_player_demographics_df["Percentage of Players"] = filtered_player_demographics_df["Percentage of Players"].map('{:,.2f}%'.format)
filtered_player_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10 to 14            22                 3.82%
15 to 19           107                18.58%
20 to 24           258                44.79%
25 to 29            77                13.37%
30 to 34            52                 9.03%
35 to 39            31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [164]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
group_labels = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]
age_analysis_df = purchase_data_df
age_analysis_df["Age Ranges"] = pd.cut(age_analysis_df["Age"], bins, labels=group_labels)

age_analysis_df = age_analysis_df.groupby("Age Ranges")
age_analysis_df = pd.DataFrame({"Purchase Count": age_analysis_df["Purchase ID"].count(),
                                "Average Purchase Price": age_analysis_df["Price"].mean(),
                                "Total Purchase Value": age_analysis_df["Price"].sum(),
                                "Ave Total Purchase per Person":(age_analysis_df["Price"].sum()/filtered_player_demographics_df["Total Count"])})
age_analysis_df['Average Purchase Price'] = age_analysis_df['Average Purchase Price'].map('${:,.2f}'.format)
age_analysis_df['Total Purchase Value'] = age_analysis_df['Total Purchase Value'].map('${:,.2f}'.format)
age_analysis_df['Ave Total Purchase per Person'] = age_analysis_df['Ave Total Purchase per Person'].map('${:,.2f}'.format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10 to 14,28,$2.96,$82.78,$3.76
15 to 19,136,$3.04,$412.89,$3.86
20 to 24,365,$3.05,"$1,114.06",$4.32
25 to 29,101,$2.90,$293.00,$3.81
30 to 34,73,$2.93,$214.00,$4.12
35 to 39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [169]:
top_spenders_df = purchase_data_df
top_spenders_df = top_spenders_df.groupby("SN")

top_spenders_df = pd.DataFrame({"Purchase Count": top_spenders_df["Purchase ID"].count(),
                                "Average Purchase Price": top_spenders_df["Price"].mean(),
                                 "Total Purchase Value": top_spenders_df["Price"].sum()})
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map('${:,.2f}'.format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map('${:,.2f}'.format)

top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [183]:
most_pop_df = purchase_data_df
most_pop_df = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]
most_pop_df = most_pop_df.groupby(["Item ID", "Item Name"])
most_pop_df = pd.DataFrame({"Purchase Count": most_pop_df["Item ID"].count(),
                           "Item Price": most_pop_df["Price"].max(),
                           "Total Purchase Value": most_pop_df["Price"].sum()})

most_pop_df = most_pop_df.sort_values("Purchase Count", ascending=False)

most_pop_df['Item Price'] = most_pop_df['Item Price'].map('${:,.2f}'.format)
most_pop_df['Total Purchase Value'] = most_pop_df['Total Purchase Value'].map('${:,.2f}'.format)

most_pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [185]:
most_pop_df = purchase_data_df
most_pop_df = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]
most_pop_df = most_pop_df.groupby(["Item ID", "Item Name"])
most_pop_df = pd.DataFrame({"Purchase Count": most_pop_df["Item ID"].count(),
                           "Item Price": most_pop_df["Price"].max(),
                           "Total Purchase Value": most_pop_df["Price"].sum()})

most_pop_df = most_pop_df.sort_values("Total Purchase Value", ascending=False)

most_pop_df['Item Price'] = most_pop_df['Item Price'].map('${:,.2f}'.format)
most_pop_df['Total Purchase Value'] = most_pop_df['Total Purchase Value'].map('${:,.2f}'.format)

most_pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80